body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}
.clear {
  clear: both;
  content: ""
}

.game-board {

}

.game-info {
  min-height: 50px;
}

.cell {
  background: #fff;
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.cell-snake {
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
  background: black;

}

.cell-food {
  background: yellow;
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;

}

.cell:focus {
  outline: none;
}

.hidden {
  background: #7e7b92;
}

.button {
  background-color: #008CBA;
  padding: 12px 20px;
  border-radius : 1em;
  text-align: center;
  font-size: 20px;
};